<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.inpeace">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Notification"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.InPeace"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity android:name=".audiobooks.AudioBookPlayer"></activity>
        <activity android:name=".motivation.newLayout.VideoPlayer" />
        <activity
            android:name=".motivation.newLayout.motivation_home"
            android:label="@string/title_activity_motivation_home"
            android:theme="@style/Theme.InPeace.NoActionBar" />
        <activity android:name=".audiobooks.audiobooks_chapter" />
        <activity android:name=".motivation.videoPlayer" />
        <activity android:name=".games.card_game" />
        <activity android:name=".games.games_homePage" />
        <activity
            android:name=".audiobooks.audiobooks_MainActivity"
            android:theme="@style/Theme.InPeace.Audiobooks" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".games.Tic_Tac_Toe" />
        <activity android:name=".music.newLayout.NewMusicLayout" />
        <activity android:name=".motivation.mainMotivation" />
        <activity android:name=".activites.HomePage" />
        <activity android:name=".music.MusicPlayerActivity" />
        <activity android:name=".music.MainMusic" />
        <activity android:name=".trial.cardView.Main" />
        <activity android:name=".music.trail_music" />
        <activity android:name=".games.trial2" />
        <activity android:name=".motivation.MotivationHome" />
        <activity android:name=".games.trial" />
        <activity android:name=".HomePage.MainPage" />
        <activity android:name=".main" />
        <activity android:name=".login.PasswordVerification" />
        <activity android:name=".login.PhoneAuth" />
        <activity android:name=".login.signup" />
        <activity android:name=".login.signin" />
        <activity android:name=".login.HomePage" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>